<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" class="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" class="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <springProperty name="logstashEnabled" source="app.system.logstash-enabled" defaultValue="false"/>
<!--    Default logstash connection parameters are configured for interacting to logstash docker compose service -->
    <springProperty name="logstashHost" source="LOGSTASH_HOST" defaultValue="logstash"/>
    <springProperty name="logstashPort" source="LOGSTASH_PORT" defaultValue="24224"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${CONSOLE_LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
        <key>logstashEnabled</key>
        <value>true</value>
    </condition>
    <if>
        <then>
            <appender name="json" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <timeZone>UTC</timeZone>
                <destination>${logstashHost}:${logstashPort}</destination>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <customFields>
                        {"instanceId": "${INSTANCE_ID}", "app": "libdemo"}
                    </customFields>
                </encoder>
            </appender>

            <root level="INFO">
                <appender-ref ref="json"/>
            </root>
        </then>
    </if>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
